.card{
    height: 500px;
    width: 300px;
    background-color: rgb(240, 250, 254);
    border: 2px solid #30d6ff;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
.img-div{
    height: 500px;
    width: 100%;
    background-color: #30d6ff;
    border-radius: 10px;
    background-image: url('./cat.jpg');
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
