.loader{
    height: 300px;
    width: 300px;
    border: 50px solid rgb(244, 241, 241);
    border-top: 30px solid rgb(18, 18, 197);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}