p{
    background-color: yellow;
    color: red;
}
#box{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
    margin: 10px;
}
#box:hover{
    background-color: green;
}